@use '../main.scss';

.aboutMe-page {
  padding: 3rem 1rem;
}

.interestItems, .techItems {
  padding-block: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  h3 {
    font-size: 1rem;
  }

  img {
    width: 25px;
    object-fit: cover;
    border-radius: 4px;
    transition: ease-in-out 0.3s;

    &:hover {
      transform: scale(1.3);
      cursor: pointer;
    }
  }

  .interestLists, .techLists {
    display: flex;
    align-items: center;
    // justify-content: center;
    gap: 1.5rem;
    flex-wrap: wrap;
  }
}

.interest {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 1rem;
  
  &:not(:last-child)::after {
    content: "";
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: main.$font-color2; /* Warna lingkaran */
    display: inline-block;
  }
}

.studyContainer, .experienceContainer {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  justify-content: center;
  align-items: center;
  padding-block: 2rem;

  h3 {
    text-align: center;
  }

  img {
    width: 45px;
    object-fit: cover;
    // border-radius: 50%;
    transition: ease-in-out 0.3s;

    &:hover {
      transform: scale(1.1);
      cursor: pointer;
    }
  }
  
  .studyLists {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  .study, .experience {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
}

.experience img {
  background-color: main.$background-color-1;
}

.twoSection {
  padding-block: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
  gap: 2rem;
}