@use '../main.scss';

.aboutMe-page {
  padding: 3rem 1rem;
}

.techContainer {
  padding-block: 1rem;

  img {
    width: 25px;
    object-fit: cover;
    border-radius: 4px;
  }

  .techLists {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
}

.studyContainer {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  padding-block: 1rem;

  img {
    width: 50px;
    object-fit: cover;
    border-radius: 50%;
  }

  .study {
    display: flex;
    gap: 0.5rem;
    align-items: center;
  }
}