@use '../main.scss';

.aboutMe-page {
  padding: 3rem 1rem;
}

.techContainer {
  padding-block: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  h3 {
    text-align: center;
  }

  img {
    width: 25px;
    object-fit: cover;
    border-radius: 4px;
    transition: ease-in-out 0.3s;

    &:hover {
      transform: scale(1.3);
      cursor: pointer;
    }
  }

  .techLists {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    flex-wrap: wrap;
  }
}

.studyContainer {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  justify-content: center;
  align-items: center;
  padding-block: 2rem;

  h3 {
    text-align: center;
  }

  img {
    width: 45px;
    object-fit: cover;
    border-radius: 50%;
    transition: ease-in-out 0.3s;

    &:hover {
      transform: scale(1.1);
      cursor: pointer;
    }
  }
  
  .studyLists {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  .study {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
}