@use '../main.scss';

/* HUMBURGER BUTTON */ 
.humburgerMenu {
  position: fixed;
  top: 0;
  right: 5px;
  background-color: main.$background-color-1;
}

.iconLink {
  &:hover {
    color: main.$background-color-1;
  }
}
