@use '../main.scss';

/* PROJECTS */ 
.projects-section {
  padding: 3rem 1rem;

  img {
    transition: transform ease-in-out 0.3s;
    
    &:hover {
      transform: scale(1.03);
    }
  }

  p {
    text-align: center;
  }
}

.projectContainer {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;

  scrollbar-width: none;
}

.project-items {
  align-items: center;
  text-align: center;
  scroll-snap-align: start;
  flex: 0 0 100%;

  img {
    width: 250px;
  }
  
  @include main.flex-column();
  gap: 1rem;
}

/* Project Details */ 
.overlay {
  position: fixed;
  width: 100%;
  min-height: 100vh;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.92);
  padding: 3rem 1rem;
  z-index: 2;
  align-content: center;

  i {
    cursor: pointer;
    position: absolute;
    font-size: 1.5rem;
    right: 5%;
    // top: 2%;

    &:hover {
      color: main.$font-color;
    }
  }
}

.overlay-desc {
  @include main.flex-column();
  gap: 2rem;
  
  h2 {
    font-size: 1rem;
    text-align: center;
  } 

  p {
    font-size: 0.8rem;
    text-align: justify;
    color: main.$font-color;
  }
  
  a {
    width: fit-content;
    font-size: 0.8rem;
    text-decoration: underline;
    transition: ease-in-out 0.3s;
    color: main.$font-color;
    cursor: pointer;
    
    &:hover {
      color: main.$font-color2;
    }
  }

  p span {
    font-weight: bold;
    font-size: 0.9rem;
    // font-style: italic;
  }

  .roleTeam {
    display: flex;
    gap: 5rem;

    p {
      font-size: 0.8rem;
    }
  }
}

.project-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.project-images .img-mac {
  width: 250px;
  display: flex;
  justify-content: center;
}
