@use './main.scss';

/* RESPONSIVE */
@media screen and (max-width: 580px) {
  .nav-section {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 2;
    display: flex;
    flex-direction: column;
  }
  
  .navbar-list {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    gap: 1.5rem;

    i {
      font-size: 0.8rem;
    }
  }

  .nav-footer {
    position: absolute;
    bottom: 1rem;
    right: 1rem;

    i {
      &:hover {
        color: main.$font-color;
      }
    }
  }

  .desktop-nav {
    display: none;
  }

  .heroContent {
    flex-direction: column;
  }
}

@media screen and (min-width: 580px) {
  .header {
    display: flex;
  }

  .navbar-list{
    justify-content: flex-end;
    align-items: center;
  
    ul {
      background-color: main.$background-color-1;
      padding: 1rem 5rem;
      width: 90%;
      height: 3rem;
      flex-direction: row;
      gap: 1rem;
    }
  }

  .hamburgerMenu, .nav-head, .nav-footer {
    display: none;
  }
  .desktop-nav {
    display: block;
    position: absolute;
    right: 1rem;
    top: 50%;
    transform: translateY(-50%);
  }
  
  .heroContent {
    width: 100%;
    height: 95vh;
    justify-content: center;
    align-items: center;
    padding: 3rem;
  }

  .heroPict {
    img {
      width: 250px;
    }
  }
  
  .heroDesc {
    .greeting {
      font-size: 2.5rem;
    }
  }

  .profilContainer {
    @include main.flex-column();
    justify-content: center;
    height: 60vh;
  }

  .project-content {
    flex-wrap: nowrap;
  }

  .overlay {
    padding-inline: 3rem;

    .img-mac {
      width: 300px;
      height: fit-content;
    }

    i {
      right: 5%;
      top: 10%;
    }
  }
}

@media screen and (min-width: 1000px) {
  .header {
    gap: 5rem;
    padding-inline: 3rem;
  }

  .navbar-list ul {
    padding-inline: 10rem;
  }

  .aboutMe-section,
  .projects-section,
  .aboutMe-page {
    padding-inline: 3rem;
  }

  .hero-section {
    background-position: center;
    background-size: cover;
    height: 400px;
  }

  .heroDesc {
    h3 {
      padding: 0 10rem;
    }
  }

  .profilContainer {
    flex-direction: row;
    align-items: center;

    .profil {
      width: 100%;

      img {
        width: 180px;
      }
      
      a {
        font-size: 1.5rem;
      }
    }

    .desc {
      font-size: 1.2rem;
    }
  }
  
  .iconConnection {
    gap: 1rem;
    justify-content: flex-end;
  }

  .overlay {
    .img-mac {
      width: 500px;
    }

    .overlay-desc {
      p, a {
        font-size: 1.1rem;
      }
      h2 {
        font-size: 1.5rem;
      }
    } 
  }
}