$background-color-1: #1F202D;
$background-color-2: #181818;
$font-color: #F0BC5A;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* DEFAULT */
.header {
  max-height: 3rem;
  width: 100%;
  padding-inline: 1rem;
  background-color: $background-color-1;
  position: fixed;

  color: white;
}

.logo {
  height: 3rem;
  width: 6.5rem;
  padding-block: 0.5rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  p {
    font-size: 1.4rem;
  }

  span {
    color: $font-color;
  }

  .descLogo {
    font-size: 0.5rem;
  }
}

.navbar-list {
  width: 100%;
  background-color: lavender;
  
  ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;

    list-style: none;
    color: $font-color;

    li {
      a {
        color: white;
        text-decoration: none;
      }
    }
  }
}

.container {
  padding: 3rem 1rem;
  background-color: $background-color-2;

  section {
    min-height: 95vh;
    padding-block: 2rem;
    
    h1 {
      text-align: center;
      color: white;
      font-size: 1.2rem;
      padding: 1rem 0;
    }
  }
}

i {
  cursor: pointer;
  color: white;
}

.footer {
  max-height: 3.5rem;
  background-color: $background-color-1;
  
  p {
    color: $font-color;
    text-align: center;
    padding: 0.8rem;
  }
}


/* ABOUT ME */ 
.aboutMe-section {
  .profil {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding-bottom: 1rem;

    img {
      width: 120px;
      border-radius: 50%;
    }
  
    a {
      color: white;
      font-size: 1.2rem;
    }
  }

  .desc {
    color: white;
    font-size: 1rem;
  }
}

.iconConnection {
  padding-top: 3rem;
  display: flex;
  gap: 1rem;
  align-self: flex-start;
  color: white;

  .icon {
    display: flex;
    gap: 1rem;
  }
}

/* PROJECTS */ 
.boxProjects {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  padding-top: 5rem;

  img {
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 4px;
  }

  p {
    color: white;
    text-align: center;
    max-width: 200px;
  }
}

/* MESSAGE */
.boxMessage {
  max-width: 500px;
  padding: 0.7rem;
  background-color: white;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-self: center;
  gap: 1rem;

  i {
    color: $font-color;
    font-size: 1.5rem;
  }

  .littleMessage {
    font-size: 0.6rem;
    align-self: flex-end;
  }
}

/* RESPONSIVE */
@media screen and (max-width: 450px) {
  .navbar-list {
    overflow: hidden;
    position: absolute;
    right: -500px;
  }
}

@media screen and (min-width: 580px) {
  .header {
    display: flex;
  }

  .navbar-list ul {
    background-color: $background-color-1;
    padding-inline: 5rem;
    height: 3rem;
    flex-direction: row;
    gap: 1rem;
    padding-block: 1rem;
  }
}

@media screen and (min-width: 1000px) {
  .header {
    gap: 5rem;
    padding-inline: 3rem;
  }

  .navbar-list ul {
    padding-inline: 10rem;
  }

  .container {
    padding-inline: 3rem;
  }

  .boxMessage {
    i {
      font-size: 1.5rem;
    }
    .bigMessage {
      font-size: 1.2rem;
    }
    .littleMessage {
      font-size: 1rem;
    }
  }
}