* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* DEFAULT */
.header {
  max-height: 3rem;
  width: 100%;
  padding-inline: 2rem;
  background-color: chocolate;
  position: fixed;
}

.logo {
  height: 3rem;
  display: flex;
  align-items: center;
}

.logo p {
  font-size: 1.4rem;
}

.logo span {
  color: white;
}

.navbar-list {
  width: 100%;
  background-color: lavender;
  
}

.navbar-list ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.navbar-list li {
  text-decoration: none;
}

.container {
  padding-inline: 2rem;
  height: 95vh;
  padding-top: 3rem;
}

.footer {
  max-height: 3.5rem;
  background-color: chocolate;
}

.footer p {
  text-align: center;
  padding: 0.8rem;
}

/* RESPONSIVE */
@media screen and (max-width: 450px) {
  .navbar-list {
    overflow: hidden;
    position: absolute;
    right: -500px;
  }
}

@media screen and (min-width: 580px) {
  .header {
    display: flex;
  }

  .navbar-list ul {
    background-color: chocolate;
    padding-inline: 5rem;
    height: 3rem;
    flex-direction: row;
    gap: 1rem;
    
  }
}

@media screen and (min-width: 1000px) {
  .navbar-list ul {
    padding-inline: 10rem;
  }
}