$background-color-1: #1F202D;
$background-color-2: #181818;
$font-color: #F0BC5A;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* DEFAULT */
.header {
  max-height: 3rem;
  width: 100%;
  padding-inline: 1rem;
  background-color: $background-color-1;
  position: fixed;

  color: white;
  z-index: 1;
}

.container {
  padding-top: 3rem;
  background-color: $background-color-2;

  section {
    min-height: 95vh;
    padding-block: 2rem;
    
    h1 {
      text-align: center;
      color: white;
      font-size: 1.2rem;
      padding: 1rem 0;
    }
  }
}

i {
  cursor: pointer;
  color: white;
}

button {
  min-height: 44px;
  padding: 0.5rem 1rem;
  background-color: $background-color-2;
  border-radius: 4px;
  border: none;
  color: white;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: white;
}

.footer {
  max-height: 3.5rem;
  background-color: $background-color-1;
  
  p {
    color: $font-color;
    text-align: center;
    padding: 0.8rem;
  }
}

/* HEADER */ 
.logo {
  height: 3rem;
  width: 6.5rem;
  padding-block: 0.5rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  p {
    font-size: 1.4rem;
  }

  span {
    color: $font-color;
  }

  .descLogo {
    font-size: 0.5rem;
  }
}

.navbar-list {
  width: 100%;
  background-color: lavender;
  
  ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;

    list-style: none;
    color: $font-color;

    li {
      a {
        color: white;
        text-decoration: none;
      }
    }
  }
}

/* HERO SECTION */ 
.hero-section {
  background: url('../public/images/big-hero-6.jpg') center;
  
  .black-filter {
    position: absolute;
    top: 48px;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #181818a9;
  }
}

.heroDesc {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  position: absolute;
  padding-top: 1rem;
  
  h3 {
    padding: 0 1rem 0 3rem;
    text-align: right;
    color: white;
    font-size: 3rem;
  }
}

/* ABOUT ME */ 
.aboutMe-section {
  padding: 3rem 1rem;
}

.profilContainer {
  .profil {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding-bottom: 1rem;
  
    img {
      width: 120px;
      border-radius: 50%;
    }
    
    a {
      color: white;
      font-size: 1.2rem;
    }

    a:hover {
      text-decoration: underline;
    }
  }
  
  .desc {
    color: white;
    font-size: 1rem;
  }
}

.iconConnection {
  padding-top: 3rem;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  color: white;

  .icon {
    display: flex;
    gap: 1.5rem;
    justify-content: space-between;
  }
}

/* PROJECTS */ 
.projects-section {
  padding: 3rem 1rem;
}

.boxProjects {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  padding-top: 5rem;

  img {
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 4px;
  }

  p {
    color: white;
    text-align: center;
    max-width: 200px;
  }
}

/* MESSAGE */
.message-section {
  padding: 3rem 1rem;
}


/* RESPONSIVE */
@media screen and (max-width: 450px) {
  .navbar-list {
    overflow: hidden;
    position: absolute;
    right: -500px;
  }
}

@media screen and (min-width: 580px) {
  .header {
    display: flex;
  }

  .navbar-list ul {
    background-color: $background-color-1;
    padding: 1rem 5rem;
    height: 3rem;
    flex-direction: row;
    gap: 1rem;
  }
  
  .heroDesc {
    width: 100%;
    height: 95vh;
    justify-content: center;
    
    h3 {
      padding: 0 8rem;
      text-align: center;
      font-size: 2rem;
    }

    button {
      margin-inline: 4rem;
    }
  }

  .profilContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 60vh;
  }
}

@media screen and (min-width: 1000px) {
  .header {
    gap: 5rem;
    padding-inline: 3rem;
  }

  .navbar-list ul {
    padding-inline: 10rem;
  }

  .aboutMe-section,
  .projects-section {
    padding-inline: 3rem;
  }

  .hero-section {
    background-position: center center;
    background-size: cover;
    height: 400px;
  }

  .heroDesc {
    h3 {
      padding: 0 10rem;
    }
  }

  .profilContainer {
    flex-direction: row;
    align-items: center;

    .profil {
      width: 100%;

      img {
        width: 150px;
      }
      
      a {
        font-size: 1.5rem;
      }
    }

    .desc {
      font-size: 1.2rem;
    }
  }
  
  .iconConnection {
    gap: 1rem;
    justify-content: flex-end;
  }
}